@talwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    min-width: 100vh;
    min-height: 100vh;
    background: wheat;
    overflow: hidden;

}

::-webkit-scrollbar{
    width: 8px;
    height: 6px;

}

::-webkit-scrollbar *{
background: transparent;

}
::-webkit-scrollbar-thumb{
    background:rgb(47, 129, 125) !important ;
    border-radius: 6px;
    
    }